.header{
    top: 0;
    position: fixed;
    z-index: 999;
    width: 100vw;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    height: 70px;
    background-color: #F6F4F1;
}

.logoHeader{
    width: 120px;
    height: 120px;
    margin-left: 1rem;
    margin-top: 0.5rem;
}

.logoHeader img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 2px solid;
}

.child_header{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.menu_section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-direction: row;
    margin-right: 2rem;
    height: 70px;
}

.signUpOrLogin{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2rem;
}

.bi-person-circle{
    margin-right: 1rem;
}

.linkLogin{
    text-decoration: none;
    color: #808080;
    cursor: pointer;
}
.linkLogin:hover{
    color: #111;
}
.signUpOrLogin i{
    font-size: 25px;
}
.signUpOrLogin h5{
    cursor: pointer;
    text-align: center;
    margin-top: 8px;
}

.bi-list,
.bi-x{
    cursor: pointer;
    font-size: 35px;
    z-index: 99;
}