*{
  margin: 0;
  padding: 0;
}

body{
  overflow-x: hidden;
  position: relative;
}

.loader{
  height: 100vh;
  width: 100vw;
}
.loaderItem{
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}