*{
  margin: 0;
  padding: 0;
  font-family: 'Times New Roman', Times, serif;
}

body{
  overflow-x: hidden;
  position: relative;
}

.loader{
  height: 100vh;
  width: 100vw;
}
.loaderItem{
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}


.logo{
  position: absolute;
  width: 120px;
  height: 120px;
  border-radius: 50%;

}